# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.venv*/
venv/
env/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Reports / artifacts
reports/figures/*
!reports/figures/.gitkeep
!reports/figures/roc.png
!reports/figures/cm.png

# Data (keep sample.csv only)
data/*
!data/sample.csv
